.conatiner {
    display: flex;
    margin: auto;
    width: 50vw;
    height: 10vh;
    justify-content: center;
  }
  .subcontainer {
    border-style: solid;
    gap: 5vw;
    width: 9vw;
    font-size: 6vh;
    text-align: center;
    border-top: none;
    border-left: none;
  }
  .subcontainer:hover {
    background-color: greenyellow;
    color: red;
  }
  #subcontainer3 {
    border-right: none;
  }
  #subcontainer7 {
    border-bottom: none;
  }
  #subcontainer8 {
    border-bottom: none;
    border-right: none;
  }
  .heading {
    width: auto;
    text-align: center;
  }